.header {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(224, 224, 224);
  border: 1px solid black;
  height: 40px;
  width: 100%;
}