.nav {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 227, 151);
  height: 100%;
  width: 150px;
  border: 1px solid black;
}